In [99]:
import pymysql
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv()

True

In [100]:
username = os.getenv("BBDD_USERNAME")
password = os.getenv("BBDD_PASSWORD")
host = os.getenv("BBDD_HOST")
port = os.getenv("BBDD_port")

In [101]:
db = pymysql.connect(host = host,
                     user = username,
                     password = password,
                     cursorclass = pymysql.cursors.DictCursor
)

cursor = db.cursor()
use_db = '''USE users_registrados'''
cursor.execute(use_db)

0

In [102]:
cursor.execute('SHOW DATABASES')
cursor.fetchall()

[{'Database': 'consultas'},
 {'Database': 'information_schema'},
 {'Database': 'mysql'},
 {'Database': 'performance_schema'},
 {'Database': 'sys'},
 {'Database': 'users_registrados'}]

In [103]:
use_db = '''USE consultas'''
cursor.execute(use_db)

0

In [78]:
use_db = '''USE users_registrados'''
cursor.execute(use_db)

0

In [79]:
cursor.execute("DESCRIBE Users;")

7

In [43]:
cursor.execute("SHOW PROCESSLIST;")

4

In [44]:
cursor.execute("SHOW PROCESSLIST;")
processes = cursor.fetchall()
print(f"Procesos activos ({len(processes)} encontrados):")
for process in processes:
    print(process)

Procesos activos (4 encontrados):
{'Id': 5, 'User': 'event_scheduler', 'Host': 'localhost', 'db': None, 'Command': 'Daemon', 'Time': 92196, 'State': 'Waiting on empty queue', 'Info': None}
{'Id': 7, 'User': 'rdsadmin', 'Host': 'localhost', 'db': 'mysql', 'Command': 'Sleep', 'Time': 8, 'State': '', 'Info': None}
{'Id': 403, 'User': 'admin', 'Host': '81.61.238.244:64114', 'db': None, 'Command': 'Sleep', 'Time': 135, 'State': '', 'Info': None}
{'Id': 407, 'User': 'admin', 'Host': '81.61.238.244:64136', 'db': 'users_registrados', 'Command': 'Query', 'Time': 0, 'State': 'init', 'Info': 'SHOW PROCESSLIST'}

In [105]:
try:
    with db.cursor() as cursor:
        cursor.execute("DESCRIBE consultas;")
        result = cursor.fetchall()  # Recupera todas las filas
        print("Estructura de la tabla Users:")
        for row in result:
            print(row)
except pymysql.MySQLError as e:
    print(f"Error de base de datos: {str(e)}")

Estructura de la tabla Users:
{'Field': 'id', 'Type': 'int', 'Null': 'NO', 'Key': 'PRI', 'Default': None, 'Extra': 'auto_increment'}
{'Field': 'pregunta', 'Type': 'text', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'respuesta', 'Type': 'text', 'Null': 'YES', 'Key': '', 'Default': None, 'Extra': ''}
{'Field': 'created_at', 'Type': 'timestamp', 'Null': 'YES', 'Key': '', 'Default': 'CURRENT_TIMESTAMP', 'Extra': 'DEFAULT_GENERATED'}

In [6]:
try:
    with db.cursor() as cursor:
        # Consulta para insertar los datos
        insert_query = """
        INSERT INTO Users (ID_Vertical, Nombre, Apellidos, Fecha_nacimiento, nombre_usuario, password)
        VALUES
        (1, 'Borja', 'Barber', '1985-02-16', 'bbarber', 'pikachu');
        """
        
        # Ejecutar la consulta
        cursor.execute(insert_query)
        db.commit()  # Confirmar la inserción
        print("Datos insertados correctamente.")
        
except pymysql.MySQLError as err:
    print(f"Error al insertar los datos: {err}")

Datos insertados correctamente.

In [56]:
try:
    with db.cursor() as cursor:
        # Consulta para obtener las columnas de la tabla 'Users'
        query = """
        SELECT COLUMN_NAME 
        FROM INFORMATION_SCHEMA.COLUMNS 
        WHERE TABLE_SCHEMA = 'users_registrados' AND TABLE_NAME = 'Users';
        """
        
        # Ejecutar la consulta
        cursor.execute(query)
        columns = cursor.fetchall()

        # Extraer solo los nombres de columna
        column_names = [col["COLUMN_NAME"] for col in columns]
        print("Columnas en la tabla vertical:", column_names)

except pymysql.MySQLError as err:
    print(f"Error al consultar las columnas: {err}")

Columnas en la tabla vertical: ['ID_User', 'ID_Vertical', 'Nombre', 'Apellidos', 'Fecha_nacimiento', 'nombre_usuario', 'password']

In [89]:
cursor.execute('''SELECT * FROM Users''')
usuarios = cursor.fetchall()

In [82]:
query = """
    INSERT INTO Users (ID_Vertical, Nombre, Apellidos, Fecha_nacimiento, nombre_usuario, password)
    VALUES (%s, %s, %s, %s, %s, %s)
    """

    # Lista de valores en el orden de las columnas
valores = [
    (1, "Vanessa", "Lopez", "1988-6-14", "vlopez", "aliciareliqia"),
    (1, "Nacho", "Miguelsanz", "1998-01-28", "nmiguelsanz", "praga"),
    (1, "Irene", "Arrabe", "2000-01-13", "iarrabe", "bolzano"),
    (1, "Felix", "de Molina", "1985-03-12", "fdemolina", "pelicula"),
    (1, "Iñigo", "Pascual", "1989-05-23", "ipascual", "renfe"),
    (1, "Alejandro", "Reyes", "1992-05-23", "areyes", "docker")

]

In [83]:
cursor.executemany(query, valores)

6

In [30]:
cursor.execute("""SHOW TABLES""")

6

In [48]:
query = "INSERT INTO Verticales (vertical) VALUES (%s)"
valores = [("Data Science",), ("Full Stack",), ("Ciberseguridad",)]

In [54]:
cursor.executemany(query, valores)

3

In [84]:
db.commit()

In [117]:
db.commit()

In [25]:
cursor.close()

In [24]:
db.close()

Error: Already closed